* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(0, 0, 0);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.desktop {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
}

.desktop[data-bg="bg1"] {
  background-image: url(./assets/bg/1.jpg);
}

.desktop[data-bg="bg2"] {
  background-image: url(./assets/bg/2.jpg);
}

.desktop[data-bg="bg3"] {
  background-image: url(./assets/bg/3.jpg);
}

.buttons {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}


/* icons */
